<div class="container-car-list">
  <ul class="list-car">
    <li class="list-car-item" *ngFor="let car of cars   |paginate: { itemsPerPage: count, currentPage: p };  trackBy: trackByFn" 
      (click)="onSelect(car)">
      <div class="list-car-detail">
        <p class="list-car-detail-label">Plates: <span class="list-car-detail-span">{{ car.plates }}</span></p>
        <p class="list-car-detail-label">Name: <span class="list-car-detail-span">{{ car.name }}</span></p>
        <p class="list-car-detail-car-rental">Car Rental Details:</p>
        <p class="list-car-detail-car-rental-label">Name: <span class="list-car-detail-span">{{ car.carRentalName }}</span> </p>
        <p class="list-car-detail-car-rental-label">City: <span class="list-car-detail-span">{{ car.carRentalCity }}</span></p>
      </div>
    </li>
  </ul>
  <div class="footer">
    <pagination-controls (pageChange)="p = $event"
    previousLabel="Prev"
    nextLabel="Next"/>
  </div>
</div>

